[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
langchain = "*"
langchainhub = "*"
langchain-openai = "*"
langgraph = "*"
chromadb = "*"
black = "*"
python-dotenv = "*"
uvicorn = "*"
fastapi = "*"
langchain_chroma = "*"
langchain_community = "*"
beautifulsoup4 = "*"

[dev-packages]

[requires]
python_version = "3.12"
python_full_version = "3.12.3"
